*{
    padding: 0 auto;
    margin: 0 auto;
}
h1{
    text-align: center;
}
body{
    background-image: url('fundo.jpg');
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: rgba(72, 159, 230, 0.678);
    width: 30%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}
ul li a{
    text-decoration: none;  
    color: black; 
    
}
li{
    list-style-type: none;
    line-height: 1.6; 
}
ul{
    padding-top: 20px;
}
a:hover{
    background-color: rgb(255, 255, 255);
    padding: 3px;
}